.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 2em;
  }
  
  .app-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
  }
  
  .logout-button {
    background-color: #FF6262;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 0.5em 1em;
    cursor: pointer;
  }
  
  .content-section {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    width: 100%;
    gap: 1em; 
}

.api-container {
    flex: 1;
    display: flex;
    flex-direction: column; 
    gap: 1em;
}
  
  .api-keys, .setup-section {
    background-color: #A4DAA4;
    padding: 1em;
    border-radius: 8px;
    flex: 1;
  }
  
  input[type="password"] {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
  }
  
  .pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
  }
  
  .pagination-button {
    background-color: #D5D5D5;
    border: none;
    padding: 0.5em;
    cursor: pointer;
  }
  
  .chatbox {
    flex: 2; 
    height: calc(100vh - 4em); 
    background-color: white;
    border-radius: 8px;
    padding: 1em;
    overflow-y: auto; 
}
  